.jumbotron{
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    padding-top: 10; 
    text-align: center
}